.navbar {
  background-color: black; }
  .navbar .nav-link {
    color: white;
    font-size: 20px; }
  .navbar .nav-link:hover {
    text-decoration: underline;
    color: #006266; }

#home-section {
  background-color: black;
  color: #006266;
  padding-top: 150px; }
  #home-section img:hover {
    box-shadow: 4px 8px 16px 4px #40407a; }
  #home-section p {
    font-size: 25px; }

#about-section {
  background-color: #32200A;
  color: #dfe6e9; }
  #about-section p {
    font-size: 25px; }

#work-section {
  background-color: #B79D93;
  color: green; }

#skill-section {
  background-color: black;
  color: #006266; }
  #skill-section p {
    font-size: 30px; }
  #skill-section hr {
    border-width: 5px;
    border-color: black; }
  #skill-section .fas {
    margin-right: 10px;
    font-size: 35px;
    color: #006266; }

#programing-languages {
  color: orange; }

#hobbies-languages {
  background-color: #32200A;
  color: #CF97A8; }
  #hobbies-languages ul, #hobbies-languages li {
    font-size: 20px; }

#form {
  background-color: #B79D93; }
  #form hr {
    border-width: 5px;
    border-color: green; }
  #form h2 {
    margin-bottom: 20px;
    color: white; }
  #form .fas {
    font-size: 30px; }
  #form .far {
    font-size: 30px; }
  #form .fab {
    font-size: 40px;
    color: black; }
